:root {  
  --picker-border: var(--solarize-base1);
}

button {
  border: none;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
}

button img {
  width: 28px;
  height: 28px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

input {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.75em;
  color: var(--text);
  outline: none;
  border: 1px solid gray;
  border-radius: 2px;
}

input::placeholder {  
  font-style: italic;
  color: var(--hint);
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

p#blurb {
  text-align: center;
}

p#blurb a {
  color: var(--solarize-blue);
  font-size: 1em;
}

#container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "url unused" "midi right" "controls right";
  column-gap: 0px;
  row-gap: 1px;

  text-align: center;
  margin: auto;

  padding: 4px;
  background: var(--panel);
  box-shadow: -1px -1px 2px 0 #fdf6e3, 1px 1px 4px 0 #93a1a1;
}

div#midi {
  grid-area: midi;
  width: fit-content;
  min-width: 647px;
  height: 394px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

div#right {
  grid-area: right;
  display: flex;
  flex-flow: column nowrap;
  visibility: visible;
}

div#controls {
  grid-area: controls;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  visibility: visible;
  padding-top: 6px;
  padding-bottom: 0px;
}

div#buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  visibility: visible;
}

div#picker {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}

div#picker img {
  width: 64px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 16px;
  border: none;
}

div#message {
  color: var(--solarize-red);
  font-size: 0.8em;
  font-family: sans-serif;
  visibility: hidden;
}

#loading {
  background: #333333; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  left: 0x; 
  top: 0px; 
  z-index: 1;
  visibility: hidden;
  text-align: center;
  border-radius: 2px;
  transition: visibility 1s ease-out;
}

#windmill {
  transition: visibility 1s ease-out;
}

div#disassembly {
  display: none;
  width: 100%;
  height: 100%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}

div#disassembly table {
}

div#disassembly tr {
  align: left;
  white-space:nowrap;
  overflow: hidden;
}

div#disassembly th {
  padding-left:  4px;
  padding-right:  4px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;  
}

div#disassembly td {
  padding-left:  4px;
  padding-right:  4px;
  text-align: left;
}

td.track {
  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;  
}

td.chunk {
  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;  
  font-size: 1.1em;
}

td.bytes {
  font-family: sans-serif;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  font-size: 1.1em;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: baseline;
}

td.details {
  font-family: sans-serif;
  font-style: italic;
  font-size: 1.1em;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: baseline;
}