.slider .rail {
  background-color: #eee;
  border: 0.5px solid #c0c0c080;
  position: relative;
  width: 640px;
  height: 12px;
  float: left;
}

.slider .rail input {
  position: absolute;
  width: 40px;
  top: 0px;
  font-size: 0.6em;
  border: none;
  outline: none;
  z-index: 1;
}

.slider input#from {
  left: -50px;
  text-align: right;
}

.slider input#to {
  left: 10px;
  text-align: left;
}

.slider img[role="slider"] {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -4px;
  z-index: 1;
}

.slider img[role="slider"].focus,
.slider img[role="slider"]:hover {
  outline: none;
  filter: var(--active);
}

.slider img#start {
  width: 10px;
  left: -10px;
}

.slider img#end {
  width: 10px;
}

.slider .rail canvas {
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}
