:root {  
  --picker-border: var(--solarize-base1);
}

p#blurb {
  text-align: center;
}

p#blurb a {
  color: var(--solarize-blue);
  font-size: 1em;
}

button {
  border: none;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
}

button img {
  width: 28px;
  height: 28px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

input {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.75em;
  color: var(--text);
  outline: none;
  border: 1px solid gray;
  border-radius: 2px;
}

input::placeholder {  
  font-style: italic;
  color: var(--hint);
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "url unused1" "waveform sizes" "controls buttons";
  column-gap: 0px;
  row-gap: 1px;

  text-align: center;
  margin: auto;

  padding: 4px;
  background: var(--panel);
  box-shadow: -1px -1px 2px 0 #fdf6e3, 1px 1px 4px 0 #93a1a1;
}

div#wave {
  grid-area: waveform;
  width: 647px;
  height: 394px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

div#sizes {
  grid-area: sizes;
  display: block;
  visibility: visible;
  text-align: left;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

div#controls {
  grid-area: controls;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  visibility: visible;
  padding-top: 0px;
}

div#buttons {
  grid-area: buttons;
  display: block;
  visibility: visible;
}

div#picker {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  border-right: 1px solid lightgray;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}

div#picker img {
  margin-top: auto;
  margin-bottom: auto;
  padding: 16px;
  border: none;
}

div#message {
  color: var(--solarize-red);
  font-size: 0.8em;
  font-family: sans-serif;
  visibility: hidden;
}

#png {
  background: #00000040;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 645px;
  height: 390px;
  visibility: hidden;  
  border-radius: 2px;
}     

.size {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.size label {
  text-align: left;
  font-size: 0.8em;
  padding-left: 4px;
  font-family: sans-serif;
  font-size: 0.75em;
}

#szx + label {
  font-size: 0.7em;
}

#custom {  
  width: 72px;
  margin-left: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  visibility: hidden;
}

#controls input[type="radio"] {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}

#controls input[type="radio"] + label {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  line-height: 0px;
}

#controls input[type="radio"] + label img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: var(--active);
}

#controls input[type="radio"]:disabled + label img {
  filter: var(--unclickable);
}

#controls input[type="radio"]:checked + label img {
  filter: var(--clickable);
}

#controls #overlay {
  margin-left: 8px;
}

#controls #overlay + label {
  margin-left: 4px;
  font-family: sans-serif;
  font-size: 0.9em;
  font-variant: small-caps;
}

#padding {
  width: 48px;
  margin-left: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#colour {
  width: 48px;
  height: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
}

#alpha {
  width: 80px;
  height: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 2px;
  margin-left: 4px;
}

#gridsize {
  width: 48px;
  margin-left: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
}

dialog#zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
}

dialog#zoom::backdrop {
  background: rgba(0,0,0,0.1);
}

dialog#zoom > div {
  position: absolute;
  top: 0px;  
  left: 0px;
  display:block; 
}

button#close {
  background: #ff0000c0;
  padding: 6px;
  margin-top: 2px;
  margin-left: 2px;
  border: none;
  border-radius: 3px;
  outline: none;
  z-index: 2;
}

#zoomed {
  background: #444444;
  position: absolute;
  top: 0px;  
  left: 0px;
}

#loading {
  background: #333333; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  left: 0x; 
  top: 0px; 
  z-index: 1;
  visibility: hidden;
  text-align: center;
  border-radius: 2px;
  transition: visibility 1s ease-out;
}

#windmill {
  transition: visibility 1s ease-out;
}

